.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	.cards__card {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 auto; 
		 min-width: 320px; 
		max-width: 360px;
		background-color: rgba(#009ce9, 0.9);
		color: #fff;
		padding-top: 5px;
		padding-bottom: 20px;
		box-sizing: border-box;
		text-align: center;
		border-radius: 10px;
		margin: 10px;
		&--white:hover {
			cursor: pointer;
			background-color: rgba(#009ce9, 0.3);
			color:#032541;
			fill: #032541;
		}

		&.card--selected {
			background-color: rgba(#0085e0, 0.6);
		}
		
		.card__data {
			margin:0 4px 16px 4px;
			/* margin-bottom: 16px; */
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			font-weight: 200;
			font-size: 18px;
			text-transform: capitalize;
			padding-top: 20px;
		}
		
		.card__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 1 auto;
			height: 100%;
			margin-bottom: 16px;
			
		}
		.card__temp {
			position: relative;
			font-family: 'Roboto', sans-serif;
			font-weight: 200;
			font-size: 30px;

			&::after {
				margin-left: 5px;
				transform: translateY(-15px);
				content: '';
				display: inline-block;
				width: 5px;
				height: 6px;
				border: solid 1px #fff;
				border-radius: 50%;
			}
		}
	}
}
.card__img{
	object-fit: cover;
	width: 100%;
	height: auto;
	border-radius: 20px;
}
.icon-favoriteCards{
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	margin-left: 8px;
}